body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding:0;
    margin:0;
    background-color: #f4f4f4;
}

/*global*/
.container{
    width:80%;
    margin:auto;
    overflow: hidden;
}
.button_1{
    height: 55px;
    background: #e8491d;
    border: none;
    padding-left: 20px;
    padding-right:20px;
    color: #ffffff;
    width:98%;
    border-radius: 20px;
}
.dark{
    padding: 15px;
    background: #35424a;
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*header*/
header{
    background: #354248;
    color:#ffffff;
    padding-top:30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
}
header h1{
    float: left;
    margin: 0;
}
header .hightlight, header .current a{
    color: #e8491d;
    font-weight: bold;
}


/*middlepart*/
#middlepart {
    min-height: 400px; /*change the height of the website*/
    background: url('../img/seminar.JPG') no-repeat 0 -1200px;
}
#middlepart #sidenav{
    float: left;
    width:15%;
}
#middlepart #sidenav img{
    width: 100%;
    height: 100%;
}
#middlepart #content{
    float: right;
    color: #ffffff;
    width:85%;
}
#middlepart #content_1{
    color: #ffffff;
    width:35%;
    margin-left: 35%;
}


/*register_seminar Page*/
#middlepart #content #sidebar{
    float: right;
    width:40%;
    margin-top: 10px;
}
#middlepart #content #main-col{
    float: left;
    width:50%;
}

#middlepart #content #searchBox{
    margin-bottom: 100px;
    background-color:burlywood;
    margin-bottom: 10px;
    padding-bottom: 50px;
}

#middlepart #content .availableSeminar{
    margin-top: 20px;
    background-color:brown;
}
#middlepart #content .availableSeminar img{
    float: left;
}
#middlepart #content .availableSeminar p{
    margin-top: 20px;
    text-align: center;
}

/*update_form Page*/
#middlepart #content_1 input{
    width:100%;
}

/*footer*/
footer{
    padding:20px;
    color:#ffffff;
    background-color: #e8491d;
    text-align: center;
}

/*Media Queries*/
@media(max-width: 768px){
    header #branding, header nav, header nv li{
        float: none;
        text-align: center;
        width: 100%;
    }
}