body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding:0;
    margin:0;
    background-color: #f4f4f4;
}

/*global*/
.container{
    width:80%;
    margin:auto;
    overflow: hidden;
}
ul{
    margin:0;
    padding:0;
}
.button_1{
    height: 35px;
    background: #e8491d;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;
    border-radius: 20px;
}
.dark{
    padding: 15px;
    background: #35424a;
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*header*/
header{
    background: #000000;
    color:#ffffff;
    padding-top:30px;
    min-height: 70px;
    border-bottom: #354248 3px solid;
}


header nav{
    margin-top:10px;
    margin-left:300px;
}
header li{
    float:left;
    display:inline;
    padding: 0 20px 0 20px;
}
header a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}
header #branding{
    float: left;
}
header #branding h1{
    margin: 0;
}
header .hightlight, header .current a{
    color: #e8491d;
    font-weight: bold;
}
header a:hover{
    color: #cccccc;
    font-weight: bold;
}


/*middlepart*/
#middlepart {
    min-height: 400px; /*change the height of the website*/
    background: url('../img/seminar.JPG');
    height:100vh;
}
#middlepart #sidenav{
    float: left;
    width:15%;
}
#middlepart #sidenav img{
    width:100%;
    height: 100%;
}
#middlepart a{
    color: #000000;
    text-decoration: none;
    font-size: 16px;
}
#middlepart #content{
    text-align: center;
    color: #ffffff;
    width:80%;
    float:right;  
}
#middlepart #content .box{
    text-align: center;
    width:450px;
    background: rgba(0, 0, 0, 0.4);
    padding: 40px;
    margin: auto;
    margin-top: 5%;
    color: white;
    font-family: 'Century Gothic', sans-serif;
}
.box-img{
    border-radius: 50%;
    widows: 200px;
    height: 200px;
}
.box h5{
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
}
.box p{
    text-align: justify;
}

#middlepart #content fieldset{
    width:50%;
    margin-left: 25%;
}

#middlepart #content button{
    margin:5px;;
}

#middlepart #content .quote input, #middlepart #content .quote textarea{
    width:20%;
    padding: 5px;
    margin-top:10px;
}

/*footer*/
footer{
    padding:10px;
    margin-top: 10px;
    color:#ffffff;
    background-color: #000000;
    text-align: center;
    position:fixed;
    bottom:0;
    width: 100%;
}